body {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

header h1 {
    text-align: center;
}

footer p {
    text-align: center;
}

.about-section {
    text-align: center;
}

.about-image {
    display: block;
    margin: 10px auto;
    max-width: 10%;
    height: auto;
}
