body {
    background-color: #000000;
    color: #ffffff;
}

.about-section {
    text-align: center;
}

.about-image {
    display: block;
    margin: 20px auto;
    max-width: 20%;
    height: auto;
}
